@use '../foundation/variables'as v;

.about {

  .st>.nav {
    flex-direction: row !important;
    column-gap: 8px;
    font-family: v.$f-en;

    @include v.mq() {
      column-gap: 16px;
    }
  }

  .st-theme-basic {
    border: none;
    background: none;

    &>.nav {
      box-shadow: none;

      & .nav-link {
        border-radius: 8px 8px 0 0;
        color: v.$c-black;
        background-color: v.$c-sub-right;
        @include v.rem(18);
        font-weight: bold;
        padding-block: 16px;
        line-height: 1;

        @include v.mq() {
          @include v.rem(26);
          padding-block: 24px;
        }

        &::after {
          content: none;
        }

        &.active {
          color: v.$c-white !important;
          background-color: v.$c-main;
        }
      }
    }
  }

  .st>.tab-content {
    .tab {
      &-pane {
        background-color: rgba($color: v.$c-main-right, $alpha: .3);
        padding: 16px;
        border-radius: 0 0 8px 8px;

        @include v.mq() {
          padding: 24px;
        }
      }

      &-inner {
        background-color: v.$c-white;
        padding: 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 36px;
        
        @include v.mq() {
          flex-direction: row;
          align-items: flex-start;
          column-gap: 24px;
        }
      }

      h3 {
        @include v.rem(20);

        @include v.mq() {
          @include v.rem(24)
        }
      }
    }

    img {
      width: 50%;
      height: auto;
      border-radius: 50%;
      @include v.mq() {
        width: 25%;
      }
    }
  }
  &-top {
    margin-bottom: 8px;
    .en {
      font-family: v.$f-en;
    }
  }
}