@use '../foundation/variables'as v;

.cover {
  &-container {
    text-align: center;
    height: 80vh;
    display: grid;
    place-content: center;
    gap: 32px;
    @include v.rem(14);

    @include v.mq() {
      height: 100vh;
      @include v.rem(16);
    }
  }

  &-title {
    letter-spacing: .3em;
    color: v.$c-main;
    font-size: clamp(28px, 3.4vw, 48px)
  }

  &-catch {
    display: block;
    @include v.rem(16);
  }

  .js-fadein {
    opacity: 0;
    transition: all 5s;

    &-show {
      opacity: 1;
    }
  }
}